services:
  rabbitmq:
    image: rabbitmq:4-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    networks:
      - backend
    healthcheck:
      test: ["CMD", "rabbitmqctl", "status"]
      interval: 10s
      timeout: 5s
      retries: 5

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:9.2.3
    container_name: es01
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
    mem_limit: 6g
    networks:
      - backend


  logstash:
    image: docker.elastic.co/logstash/logstash:9.0.0
    container_name: logstash
    volumes:
      - ./pipeline.conf:/usr/share/logstash/pipeline/pipeline.conf
    ports:
      - "5044:5044"
    depends_on:
      - elasticsearch
    networks:
      - backend

  app:
    build: ./app
    container_name: weather_app
    environment:
      API_KEY: ${API_KEY}
      WEATHER_URL: ${WEATHER_URL}
      RABBITMQ_URL: ${RABBITMQ_URL}
    depends_on:
      rabbitmq:
        condition: service_healthy
    networks:
      - backend

  # network_tester:
  #   image: alpine:latest
  #   container_name: network_tester
  #   command: ["sh", "-c", "sleep infinity"]
  #   networks:
  #     - backend
  #   stdin_open: true
  #   tty: true


  kibana:
    image: docker.elastic.co/kibana/kibana:9.2.3
    container_name: kibana
    environment:
      ELASTICSEARCH_HOSTS: http://elasticsearch:9200
    ports:
      - "5601:5601"
    depends_on:
      - elasticsearch
    networks:
      - backend

networks:
  backend:
    driver: bridge
